/* Hide the scrollbar for all browsers */
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  /* Optional: Add a cursor-grabbing effect when dragging */
  .cursor-grab {
    cursor: grab;
  }
  